<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">

         <%= stylesheet_link_tag    'styles', media: 'all' %>
    </head>

    <body class="imagendefondo">
        <h1>EL BARO</h1>

        <div class="section">


         <%= image_tag("user.png", :alt =>"Avatar" , id:"li_avatar") %>

         <%= form_for(:session, :html => {class: "form-horizontal", role: "form", id:'forma'}, url: login_path) do |f| %>

                    <%= f.text_field :usuario,placeholder:'Usuario',class: 'input',onclick:'remove_class()', id: 'usuario'%>
                    <a id="falta_nombre" class="missing_info_alert" >Nombre de usuario requerido</a>
                    <%= f.password_field :password,placeholder:'Contraseña',class: 'input',type:'password', onclick:'remove_class()' , id: 'contrasena'%>
                    <a id="falta_contraseña" class="missing_info_alert">Contraseña necesaria</a>

                 <%= f.submit "Iniciar sesion", class:'entrar',onclick: "validar();"%>
                 <%= button_tag(:type => 'button',class:'registrar') do %>
           <% link_to ('Registrate!'), signup_path %>
           <% end %>
           <% end %>





        </div>

        <!-- SCRIPTS -->
        <%= javascript_include_tag "login" %>
        <%= javascript_include_tag "jquery" %>

    </body>



</html>
