<html>
  <!--Inicio de Head-->
  <head>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="comprastyle.css">
    <%= stylesheet_link_tag    'comprastyle', media: 'all' %>
  </head>
  
  <!--Inicio de Body -->
  <body>
    <!-- Inicio de clase encabezado-->
    <div class="bannerhead">
      <h1 class="comprish1" align="center"> COMPRA CON OXXO </h1>
    </div>
    <!-- Inicio de contenido -->
    <div class='well col-xs-8 col-xs-offset-2'>
    <!-- Inicio de columna central -->
    <div class="cuerpeson col-md-4">
      <h5 style="margin-top:15px;">No. referencia: <%= @otransaction.codigo_emitido %></h3><hr>
      <h5 >Monto:          <%= @otransaction.monto%></h3><hr>
      <h5 >Total baros: <%= @otransaction.total %></h3><hr>
      <h5>Fecha de compra: <%= time_ago_in_words(@otransaction.created_at) %></h5><hr>

    </div> <!--Fin de columna central-->
  </div>  <!--Fin de contenido -->
  <h2 align='center' style="margin-top:40px;">Tu compra fue realizada con éxito! </h2>
  </body>  
  
</html>
